<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCYatyUoBTduZRpzdnpRqz9x7SNA9G1RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>609901420481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qaseth.app.qasetha</string>
	<key>PROJECT_ID</key>
	<string>qasetha-7cd4a</string>
	<key>STORAGE_BUCKET</key>
	<string>qasetha-7cd4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609901420481:ios:b5de827c71da1ce1109940</string>
</dict>
</plist>